# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Dependencies
node_modules/
vendor/

# Build output
dist/
build/
out/

# Logs
*.log
npm-debug.log*

# Env / secrets
.env
.env.*
!.env.example
